<h2>Danh sach User </h2>
<table>
  <tr>
    <td>ID</td>
    <td>Name</td>
    <td>Number Phone</td>
    <td>Email</td>
    <td>Edit</td>
    <td>Delete</td>
    <td><button [routerLink]="['/create']" class="btn btn-outline-warning">Create</button></td>
  </tr>
  <tr *ngFor="let user of list">
      <td> {{user.id}}</td>
      <td> {{user.name}}</td>
      <td> {{user.number_phone}}</td>
      <td> {{user.email}}</td>
    <td><button [routerLink]="['/edit', user.id]">Edit</button></td>
    <td><button (click)="delete(user.id)">Delete</button></td>
  </tr>
</table>
